<template>
  <div class="full-page grid main-bgd">
    <div
      class="col-12 md:col-10 mx-auto md:p-0 my-8 flex flex-column justify-content-center align-items-center"
    >
      <div class="w-full grid flex-column-reverse md:flex-row gap-5">
        <div class="col-12 md:col-6 text-center">
          <div class="text-center md:text-left mb-5">
            <mark
              class="header-highlight font-baloo font-bold color-secondary text-3xl md:text-4xl background-green-header"
              >Kontaktdaten</mark
            >
          </div>
          <div class="mb-5">
            <div class="flex align-items-center gap-2 my-1">
              <div class="flex-shrink-1">
                <nuxt-img src="/images/icons/happy_phone.svg" alt="" />
              </div>
              <div class="font-montserrat font-medium text-lg">
                0361 219 212 59
              </div>
            </div>
            <div class="flex align-items-center gap-2">
              <div class="flex-shrink-1">
                <nuxt-img src="/images/icons/fax.svg" alt="" />
              </div>
              <div class="font-montserrat font-medium text-lg">
                0361 219 212 60
              </div>
            </div>
            <div class="flex align-items-center gap-2 my-1">
              <div class="flex-shrink-1">
                <nuxt-img src="/images/icons/happy_envelope.svg" alt="" />
              </div>
              <div class="font-montserrat font-medium text-lg">
                ma.stenzel@kinderarzterfurt.de
              </div>
            </div>
            <div class="flex align-items-center gap-2 my-1">
              <div class="flex-shrink-1">
                <nuxt-img src="/images/icons/happy_pin.svg" alt="" />
              </div>
              <div class="font-montserrat font-medium text-lg">
                Bahnhofstraße 2, 99084 Erfurt
              </div>
            </div>
          </div>
          <div class="map-wrapper">
            <iframe
              class="google-map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2512.1753920374576!2d11.035135100000002!3d50.975948599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a40db216455e6f%3A0x94fe2892cd67b52f!2sPraxis%20f%C3%BCr%20Kinder-%20und%20Jugendmedizin%20Dr.%20Maria-Alexandra%20Stenzel!5e0!3m2!1sen!2sro!4v1725866567612!5m2!1sen!2sro"
              allowfullscreen
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe>
          </div>
        </div>
        <div class="col-12 md:col flex flex-column gap-5">
          <div class="text-center md:text-left">
            <mark
              class="header-highlight font-baloo font-bold color-secondary text-3xl md:text-4xl background-green-header"
              >Anmeldung Formular</mark
            >
          </div>
          <div class="flex flex-column gap-3">
            <div class="flex gap-2">
              <div class="p-inputgroup flex-1">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-user"></i>
                </span>
                <InputText v-model="lastName" placeholder="Name" />
              </div>

              <div class="p-inputgroup flex-1">
                <InputText v-model="firstName" placeholder="Vorname" />
              </div>
            </div>
            <div class="flex gap-2">
              <div class="p-inputgroup flex-1">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-envelope"></i>
                </span>
                <InputText v-model="email" placeholder="Email" />
              </div>

              <div class="p-inputgroup flex-1">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-phone"></i>
                </span>
                <InputText v-model="phone" placeholder="Tel." />
              </div>
            </div>
            <div class="flex gap-2">
              <div class="p-inputgroup flex-1">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-calendar"></i>
                </span>
                <Calendar
                  v-model="dob"
                  date-format="dd/mm/yy"
                  placeholder="Geburtsdatum"
                  :min-date="new Date(Date.parse('01/01/1990'))"
                  :max-date="new Date()"
                />
              </div>
            </div>
            <div class="flex gap-2 mt-3">
              <div class="p-inputgroup flex-1">
                <span class="p-float-label">
                  <Textarea
                    style="border-radius: 10px"
                    v-model="otherMentions"
                    rows="5"
                    cols="30"
                  />
                  <label>Besonderheiten</label>
                </span>
              </div>
            </div>
            <div
              class="g-recaptcha"
              data-sitekey="6LcVzFolAAAAAAdn0uEoawkv9arD_1yMgh7torQn"
              data-callback="validateCaptcha"
            ></div>
            <Toast />
            <Button
              style="border-radius: 15px"
              label="Senden"
              class="px-5 background-green-text border-0 mt-2 font-baloo"
              @click="submitForm()"
            ></Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import emailjs from "@emailjs/browser";
import { ref } from "vue";
import { useToast } from "primevue/usetoast";

const toast = useToast();

const firstName = ref("");
const lastName = ref("");
const email = ref("");
const phone = ref("");
const dob = ref();
const otherMentions = ref("");
const completedCaptcha = ref(false);

onBeforeMount(() => {
  window.validateCaptcha = validateCaptcha;
});

function validateCaptcha() {
  completedCaptcha.value = true;
}

function submitForm() {
  if (!completedCaptcha.value) {
    toast.add({
      severity: "error",
      summary: "Error",
      detail: "Bitte füllen Sie zuerst den Captcha-Check aus",
      life: 3000,
    });
    return;
  }

  if (
    !(
      firstName.value &&
      lastName.value &&
      email.value &&
      phone.value &&
      dob.value
    )
  ) {
    toast.add({
      severity: "error",
      summary: "Error",
      detail: "Bitte füllen Sie alle Felder des Formulars aus",
      life: 3000,
    });
    return;
  }

  const EMAILJS_SERVICE_ID = "service_izrmmii"; // TODO env vars
  const EMAILJS_TEMPLATE_ID = "template_m1xh39i";
  const EMAILJS_KEY = "hlACeAF2rrXv9TTtD";
  const templateParams = {
    firstName: firstName.value,
    lastName: lastName.value,
    email: email.value,
    phone: phone.value,
    dob: `${dob.value.getDate()}/${
      dob.value.getMonth() + 1
    }/${dob.value.getFullYear()}`,
    otherMentions: otherMentions.value,
  };
  emailjs
    .send(EMAILJS_SERVICE_ID, EMAILJS_TEMPLATE_ID, templateParams, EMAILJS_KEY)
    .then(
      (result) => {
        console.log("SUCCESS", result.text);
        firstName.value = "";
        lastName.value = "";
        email.value = "";
        phone.value = "";
        dob.value = "";
        otherMentions.value = "";
        completedCaptcha.value = false;
        toast.add({
          severity: "success",
          summary: "Anmeldung verschickt",
          detail: "Wir werden Sie bald kontaktieren",
          life: 3000,
        });
      },
      (error) => {
        console.log("ERROR", error.text);
        toast.add({
          severity: "error",
          summary: "Error",
          detail: "Registrierungs-E-Mail konnte nicht gesendet werden",
          life: 3000,
        });
      }
    );
}

useHead({
  script: [
    {
      src: "https://www.google.com/recaptcha/api.js",
      defer: true,
      async: true,
    },
  ],
});
</script>

<style scoped>
:deep(.p-inputgroup-addon) {
  background-color: var(--green-header);
  color: var(--dark-grey);
}

.map-wrapper {
  border-radius: 21px;
  overflow: hidden;
  border: 14px solid white;
  width: 100%;
  height: 450px;
  box-shadow: 1px 7px 30px 0 rgba(11, 173, 42, 0.2);
}

.google-map {
  width: 100%;
  height: 100%;
  border: none;
}

.main-bgd {
  background-image: url("~/assets/images/contact_background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-green-text:hover {
  background-color: var(--green-header);
}
</style>
