<template>
  <div
    class="w-full h-4rem px-4 flex justify-content-end align-items-center background-green-text"
  >
    <div class="color-secondary font-baloo">
      (c) Kinderarzt Praxis Alexandra Stenzel | 2024
    </div>
    <div>
      <Button text size="small">
        <NuxtLink class="color-secondary" to="/datenschutzerklarung"
          >Datenschutzerklarung</NuxtLink
        >
      </Button>
      <Button text size="small">
        <NuxtLink class="color-secondary" to="/impressum">Impressum</NuxtLink>
      </Button>
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped></style>
