<template>
  <div
    v-if="textContent"
    class="flex flex-column justify-content-center align-items-center text-center main-bgd"
  >
    <div>
      <mark
        class="header-highlight font-baloo font-bold color-secondary text-3xl md:text-4xl background-primary"
      >
        Stellenangebote
      </mark>
    </div>
    <div class="content font-jaldi text-lg mt-7 color-dark-grey">
      {{ textContent }}
    </div>
  </div>
</template>

<script setup lang="ts">
import { JOBS_FILE_ID } from "~~/constants/constants";
import { getGoogleDriveFileContent } from "~~/helpers/helperFunctions";

const textContent = ref("");

onBeforeMount(async () => {
  const resAlerts = await getGoogleDriveFileContent(JOBS_FILE_ID);
  if (resAlerts) {
    textContent.value = resAlerts;
  }
});
</script>

<style scoped>
@media only screen and (min-width: 576px) {
  .content {
    max-width: 60%;
  }
}

@media only screen and (max-width: 576px) {
  .main-bgd {
    min-height: 100vh;
  }
}

.content {
  max-width: 80%;
}

.main-bgd {
  background-image: url("~/assets/images/news_background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}
</style>
