<template>
  <div class="full-page flex flex-column main-bgd">
    <div>
      <NavBar :is-index="true" />
    </div>
    <div class="grid flex-grow-1">
      <div class="col-10 flex align-items-center mx-auto relative">
        <div class="grid w-full justify-content-between align-items-center">
          <div class="col">
            <div class="font-life-savers text-3xl md:text-4xl font-bold">Dr. Maria-Alexandra Stenzel</div>
            <div class="font-baloo text-5xl md:text-6xl mt-6 font-bold line-height-1 color-secondary">
              Praxis Für <br>
              Kinder-und <br>
              Jugendmedizin
            </div>
            <Button
                class="cta-button mt-6"
                label="Termin buchen"
                severity="warning"
                size="small"
                @click="scrollToElement('contactSection')"
            ></Button>
          </div>
          <div class="hidden md:block col">
            <nuxt-img src="/images/landing_kids_picture.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="absolute bottom-0 right-0">
      <nuxt-img src="/images/dragon_logo.svg" class="responsive-img" />
    </div>
  </div>
</template>

<script setup lang="ts">
import {scrollToElement} from "~/helpers/helperFunctions";
</script>

<style scoped>
.cta-button {
  background-color: var(--primary);
  border: 1px dashed #fff;
  border-radius: 15px;
  box-shadow: 0 0 0 4px var(--primary);
  font-weight: bold;
}

.main-bgd {
  background-image: url("~/assets/images/landing_background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
</style>