<template>
  <div class="flex flex-column justify-content-center align-items-center text-center main-bgd">
    <div>
      <mark class="header-highlight font-baloo font-bold color-secondary text-3xl md:text-4xl background-primary">Aktuelle Informationen</mark>
    </div>
    <div class="content font-jaldi text-lg mt-7 color-dark-grey">Covid-19 kursiert weiterhin in der Bevölkerung und kann sich überall dort verbreiten, wo Menschen zusammenkommen. Um uns und unser Personal zu schützen, möchten wir Sie darüber informieren, dass unsere kleinen Patienten nur zusammen mit einer Begleitperson unsere Praxis besuchen dürfen. Wir bitten um Ihr Verständnis. In unserer Praxis gelten weiterhin die AHA Regeln.</div>
  </div>
</template>

<script setup lang="ts">

</script>

<style scoped>
@media only screen and (min-width: 576px) {
  .content {
    max-width: 60%;
  }
}

@media only screen and (max-width: 576px) {
  .main-bgd {
    min-height: 100vh;
  }
}

.content {
  max-width: 80%;
}

.main-bgd {
  background-image: url("~/assets/images/news_background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}
</style>