<template>
  <div class="full-page grid main-bgd">
    <div
      class="col-12 md:col-10 md:p-0 mx-auto flex flex-column align-items-center justify-content-center gap-6"
    >
      <div>
        <mark
          class="header-highlight font-baloo font-bold color-secondary text-3xl md:text-4xl background-primary"
          >Unser Team</mark
        >
      </div>
      <div class="w-full grid">
        <div class="col-12 md:col text-center">
          <div>
            <nuxt-img
              class="responsive-img"
              src="/images/alexandra_image.png"
              alt=""
            />
          </div>
          <div class="font-baloo font-bold color-secondary text-2xl">
            Dr. Maria-Alexandra Stenzel
          </div>
          <div class="font-jaldi text-lg">Kinderärztin</div>
        </div>
        <div class="col-12 md:col text-center">
          <div>
            <nuxt-img
              class="responsive-img"
              src="/images/grit_image.png"
              alt=""
            />
          </div>
          <div class="font-baloo font-bold color-secondary text-2xl">
            Manuela Skadell
          </div>
          <div class="font-jaldi text-lg">Arzthelferin</div>
        </div>
      </div>
      <div class="text-center">
        <div class="font-jaldi text-lg">Möchten sie uns besuchen?</div>
        <Button
          rounded
          label="Kontakt"
          class="px-5 background-green-text border-0 mt-2 font-baloo"
          @click="scrollToElement('contactSection')"
        ></Button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { scrollToElement } from "~/helpers/helperFunctions";
</script>

<style scoped>
.main-bgd {
  background-image: url("~/assets/images/our_team_background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.responsive-img {
  max-width: 450px;
}
</style>
