<template>
  <div class="full-page grid mt-8">
    <div class="col-12 md:col-10 px-2 md:p-0 mx-auto flex flex-column align-items-center justify-content-center gap-7">
      <div>
        <mark class="header-highlight font-baloo font-bold color-secondary text-3xl md:text-4xl background-green-header">Leistungen</mark>
      </div>
      <ServicesSectionFirst />
      <ServicesSectionSecond />
      <ServicesSectionThird />
    </div>
  </div>
</template>

<script setup lang="ts">

</script>

<style>
.p-fieldset {
  border-radius: 21px;
  border: 1px solid var(--border-green);
  font-family: 'Jaldi', serif;
  font-size: 18px;
  color: var(--dark-grey);
}

.p-fieldset .p-fieldset-legend {
  background-color: var(--light-green);
  color: var(--green-header);
  border-radius: 21px;
  border: none;
  padding: 1rem 1.5rem;
}
</style>