<template>
  <div class="full-page flex align-items-center main-bgd py-8">
    <div class="col:12 md:col-10 grid mx-auto">
      <div class="hidden lg:block col-4">
        <nuxt-img src="/images/girl_pink_bgd.svg" />
      </div>
      <div class="col flex flex-column px-5">
        <div class="text-center md:text-left">
          <mark
            class="header-highlight font-baloo font-bold color-secondary text-3xl md:text-4xl background-green-header"
            >Oeffnungszeiten</mark
          >
        </div>
        <div class="w-full mt-6">
          <div v-for="(item, i) in timetable" :key="i">
            <div class="grid gap-2 md:gap-0 font-montserrat my-2">
              <div
                class="col-12 text-sm lg:text-base color-dark-grey uppercase"
              >
                {{ item.day }}
              </div>
              <div
                class="col-12 md:col text-sm lg:text-base white-space-nowrap font-bold color-green-text"
              >
                <div>{{ item.firstPeriod }}</div>
                <div class="mt-2">{{ item.thirdPeriod }}</div>
              </div>
              <div
                class="col-12 md:col text-sm lg:text-base white-space-nowrap font-bold color-green-text"
              >
                <div>{{ item.secondPeriod }}</div>
                <div class="mt-2">{{ item.fourthPeriod }}</div>
              </div>
            </div>
            <div v-if="i !== timetable.length - 1" class="divider w-full"></div>
          </div>
        </div>
        <div>
          <NotificationBanner
            v-for="(alert, i) in alerts"
            :key="i"
            :blue-shadow="true"
            class="my-4"
          >
            <template #body>
              {{ alert }}
            </template>
          </NotificationBanner>
        </div>
        <div class="text-center md:text-left">
          <div class="font-jaldi text-lg">Möchten sie uns besuchen?</div>
          <Button
            rounded
            label="Kontakt"
            class="px-5 background-primary border-0 mt-2 font-baloo"
            @click="scrollToElement('contactSection')"
          ></Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import NotificationBanner from "~/components/NotificationBanner.vue";
import {
  getGoogleDriveFileContent,
  scrollToElement,
} from "~/helpers/helperFunctions";
import { Ref } from "vue";
import { VACATION_FILE_ID } from "~~/constants/constants";

interface ITimetableItem {
  day: string;
  firstPeriod: string;
  secondPeriod?: string;
  thirdPeriod?: string;
  fourthPeriod?: string;
}
const timetable: ITimetableItem[] = [
  {
    day: "Montag",
    firstPeriod: "8:00 - 9:30 Akutsprechstunde",
    secondPeriod: "9:30 - 12:00 Terminsprechstunde",
    thirdPeriod: "14:30 - 15:30 Akutsprechstunde",
    fourthPeriod: "15:30 - 17:00 Terminsprechstunde",
  },
  {
    day: "Dienstag",
    firstPeriod: "8:00 - 9:30 Akutsprechstunde",
    secondPeriod: "9:30 - 12:00 Terminsprechstunde",
    fourthPeriod: "13:00 - 15:00 Terminsprechstunde",
  },
  {
    day: "Mittwoch",
    firstPeriod: "8:00 - 9:30 Akutsprechstunde",
    secondPeriod: "9:30 - 12:00 Terminsprechstunde",
  },
  {
    day: "Donnerstag",
    firstPeriod: "8:00 - 9:30 Akutsprechstunde",
    secondPeriod: "9:30 - 12:00 Terminsprechstunde",
    thirdPeriod: "14:30 - 15:30 Akutsprechstunde",
    fourthPeriod: "15:30 - 17:00 Terminsprechstunde",
  },
  {
    day: "Freitag",
    firstPeriod: "8:00 - 9:30 Akutsprechstunde",
    secondPeriod: "9:30 - 12:00 Terminsprechstunde",
  },
];

const alerts: Ref<string[]> = ref([]);
onBeforeMount(async () => {
  const resAlerts = await getGoogleDriveFileContent(VACATION_FILE_ID);
  if (resAlerts) {
    alerts.value = [resAlerts];
  }
});
</script>

<style scoped>
.divider {
  height: 1px;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.main-bgd {
  background-image: url("~/assets/images/timetable_background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
</style>
