<template>
  <div>
    <SeoKit />
    <OgImageScreenshot />
    <OgImageStatic />
    <NuxtPage />
  </div>
</template>

<script lang="ts" setup>
import {defineWebPage} from "@unhead/schema-org-vue";

useSchemaOrg([
    defineLocalBusiness({
      name: 'Kinderarzterfurt',
      '@type': 'MedicalBusiness',
      telephone: '0361 415 179',
      email: 'ma.stenzel@kinderarzterfurt.de',
      faxNumber: '0361 550 99 31',
      address: {
        streetAddress: 'Blücherstraße 6',
        addressLocality: 'Erfurt',
        postalCode: '99099',
        addressCountry: 'DE'
      },
      openingHoursSpecification: [
        {
          dayOfWeek: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
          opens: '08:00',
          closes: '12:00',
        },
        {
          dayOfWeek: ['Monday', 'Thursday'],
          opens: '14:30',
          closes: '17:30',
        },
        {
          dayOfWeek: 'Tuesday',
          opens: '13:00',
          closes: '15:00',
        },
      ],
    }),
    defineOrganization({
      name: 'Kinderarzterfurt',
    }),
    defineWebSite({
      name: 'Kinderarzterfurt'
    }),
    defineWebPage(),
]);
</script>
