<template>
  <div id="servicesThirdSection" class="grid w-full md:gap-6 mb-8 align-items-center">
    <div class="hidden md:block col p-0">
      <nuxt-img src="/images/services_boy_consultation.png" />
    </div>
    <Fieldset class="col-12 mb-6 md:mb-0 md:col-4">
      <template #legend>
        <nuxt-img src="/images/icons/doctor_icon.svg" height="53.68" width="46.31" alt="doctor-icon"/>
      </template>
      <div class="flex flex-column gap-5">
        <div class="font-baloo font-bold color-secondary text-3xl">Weitere Leistungen</div>
        <div>
          <div v-for="(text, i) in firstCardTexts" :key="i" class="flex align-items-start">
            <div class="flex-shrink-1">
              <nuxt-img height="20" width="20" src="/images/icons/blue_check.svg" alt="blue-check" />
            </div>
            <div class="pl-3">{{ text }}</div>
          </div>
        </div>
      </div>
    </Fieldset>
    <Fieldset class="col-12 md:col-4 align-self-start">
      <template #legend>
        <nuxt-img src="/images/icons/scanner_icon.svg" height="53.68" width="46.31" alt="happy-scanner-icon"/>
      </template>
      <div class="flex flex-column gap-5">
        <div class="font-baloo font-bold color-secondary text-3xl">Ultraschalldiagnostik</div>
        <div>
          <div v-for="(text, i) in secondCardTexts" :key="i" class="flex align-items-start">
            <div class="flex-shrink-1">
              <nuxt-img height="20" width="20" src="/images/icons/blue_check.svg" alt="blue-check" />
            </div>
            <div class="pl-3">{{ text }}</div>
          </div>
        </div>
      </div>
    </Fieldset>
  </div>
</template>

<script setup lang="ts">
const firstCardTexts = [
    'Aufnahmeuntersuchungen für Kindertagesstätten',
    'Sporttauglichkeitsuntersuchungen',
    'Untersuchung nach dem Jugendarbeitschutzgesetz',
    'Pulsoxymetrie',
    'Streptokokkenschnelltest',
    'Laboruntersuchungen (Blut- Urindiagnostik, mikrobiologische Untersuchungen)'
];

const secondCardTexts = [
    'Hüfte (Säuglingshüfte)', 'Schädel (durch die Fontanelle)',
    'Abdomen (Bauchorgane, Nieren und Harnwege)', 'Schilddrüse'
];
</script>

<style scoped>
</style>