<template>
  <Fieldset>
    <template #legend>
      <nuxt-img src="/images/icons/book_icon.svg" height="53.68" width="46.31" alt="happy-book-icon"/>
    </template>
    <div id="servicesFirstSection" class="grid grid-nogutter justify-content-between">
      <div class="col-12 md:col-5 font-jaldi text-lg flex flex-column justify-content-between">
        <div>
          <div class="font-baloo font-bold color-secondary text-2xl md:text-3xl">Vorsorgeuntersuchungen</div>
          <p>
            <span class="font-bold">Die Vorsorgeuntersuchungen</span>
            (U-Untersuchungen) ermöglichen eine fachärztliche Begleitung während der Entwicklung Ihres Kindes.Sie dienen nicht nur der Früherkennung von Krankheiten oder Entwicklungsverzögerungen, sondern ebenso der Prävention bestimmter Erkrankungen. Außerdem bietet die Untersuchung Zeit für Ihre Fragen.
          </p>
        </div>
        <p>
          In welchem Alter Ihr Kind Anspruch auf eine Vorsorgeuntersuchung hat, sehen Sie hier
        </p>
      </div>
      <div class="col-12 md:col-6">
        <div class="grid">
          <div class="col-12 md:col-6 flex flex-column justify-content-between">
            <nuxt-img src="/images/services_girl_doctor.png" />
            <div>
              <div class="font-bold color-green-header text-lg mt-4">MONATE</div>
              <div v-for="(period, i) in monthPeriods" :key="i" class="flex align-items-center mt-2">
                <div class="period-item-bubble text-xs font-baloo font-bold text-white flex justify-content-center align-items-center">
                  <div>{{ period.interval }}</div>
                </div>
                <div class="pl-3">{{ period.text }}</div>
              </div>
            </div>
          </div>
          <div class="col-12 md:col-6 md:pl-4">
            <div class="font-jaldi font-bold color-green-header text-lg">JAHRE</div>
            <div v-for="(period, i) in yearPeriods" :key="i" class="flex align-items-center mt-2">
              <div class="period-item-bubble text-xs font-baloo font-bold text-white text-center flex justify-content-center align-items-center">
                <div>{{ period.interval }}</div>
              </div>
              <div class="pl-3">{{ period.text }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Fieldset>
</template>

<script setup lang="ts">
interface ITimePeriod {
  interval: string,
  text: string
}
const monthPeriods: ITimePeriod[] = [
  {
    interval: '1',
    text: 'Lebensmonat | Vorsorge U3',
  },
  {
    interval: '3-4',
    text: 'Lebensmonat | Vorsorge U4'
  },
  {
    interval: '6-7',
    text: 'Lebensmonat | Vorsorge U5'
  },
  {
    interval: '11-12',
    text: 'Lebensmonat | Vorsorge U6'
  },
];
const yearPeriods: ITimePeriod[] = [
  {
    interval: '2',
    text: 'Geburtstag | Vorsorge U7'
  },
  {
    interval: '3',
    text: 'Geburtstag | Vorsorge U7A'
  },
  {
    interval: '4',
    text: 'Geburtstag | Vorsorge U8'
  },
  {
    interval: '5',
    text: 'Geburtstag | Vorsorge U9'
  },
  {
    interval: '8',
    text: 'Geburtstag | Vorsorge U10'
  },
  {
    interval: '10',
    text: 'Geburtstag | Vorsorge U11ab'
  },
  {
    interval: '> 13',
    text: 'Geburtstag | Vorsorge J1ab 1'
  },
  {
    interval: 'ab 16',
    text: 'Geburtstag | Vorsorge J2'
  },
];
</script>

<style scoped>
.period-item-bubble {
  background-color: var(--green-header);
  border-radius: 50%;
  height: 4vh;
  width: 4vh;
}
</style>