<template>
  <div id="servicesSecondSection" class="grid w-full align-items-center justify-content-between">
    <div class="col-12 md:col-8 p-0 md:pr-5">
      <Fieldset>
        <template #legend>
          <nuxt-img src="/images/icons/syringe_icon.svg" height="53.68" width="46.31" alt="happy-syringe-icon"/>
        </template>
        <div class="flex flex-column gap-5">
          <div class="font-baloo font-bold color-secondary text-3xl">Impfungen und Impfberatung</div>
          <div>
            <div class="flex align-items-start">
              <div class="flex-shrink-1">
                <nuxt-img height="20" width="20" src="/images/icons/blue_check.svg" alt="blue-check" />
              </div>
              <div class="pl-3">Impfungen für Kinder und Jugendliche nach den Empfehlungen der STIKO ➔ (Ständige Impfkommission des Robert-Koch-Instituts) und nach individuellem</div>
            </div>
            <div class="flex align-items-start">
              <div class="flex-shrink-1">
                <nuxt-img height="20" width="20" src="/images/icons/blue_check.svg" alt="blue-check" />
              </div>
              <div class="pl-3">Impfschema Reiseimpfungen</div>
            </div>
          </div>
          <NotificationBanner>
            <template #body>
              Bitte vergessen Sie die Versichertenkarten und die Impfausweise der zu impfenden Personen nicht.
            </template>
          </NotificationBanner>
        </div>
      </Fieldset>
    </div>
    <div class="hidden md:block col flex p-0">
      <nuxt-img class="responsive-img" src="/images/services_girl_consultation.png" />
    </div>
  </div>
</template>

<script setup lang="ts">

</script>

<style scoped>
</style>
