<template>
  <div class="card relative z-2">
    <Menubar
        id="navbar"
        :model="items"
        class="menubar px-7"
        :class="{'navbar-visible': !props.isIndex}"
    >
      <template #start>
        <div class="md:block font-life-savers font-bold md:text-lg mr-2">Dr. Maria-Alexandra Stenzel</div>
      </template>
      <template #end>
        <Button
            class="hidden md:block cta-button"
            label="Termin buchen"
            severity="warning"
            size="small"
            @click="navScrollToElement('contactSection')"
        ></Button>
      </template>
      <template #item="{item}">
        <Button
            class="font-baloo font-bold text-lg py-2 button"
            :class="{'active secondary': selectedSection === item.sectionLabel && !item.inSublist, 'secondary': item.inSublist}"
            text
            :label="item.label"
            @click="navScrollToElement(item.scrollToTargetId)"
        ></Button>
      </template>
    </Menubar>
  </div>
</template>

<script setup lang="ts">
import {useRouter} from "vue-router";
import {scrollToElement} from "~/helpers/helperFunctions";

const items = ref([
  {
    label: 'Startseite',
    sectionLabel: 'Startseite',
    scrollToTargetId: 'landingSection',
  },
  {
    label: 'Sprechzeiten',
    sectionLabel: 'Sprechzeiten',
    scrollToTargetId: 'timeTableSection'
  },
  {
    label: 'Leistungen',
    sectionLabel: 'Leistungen',
    items: [
      {
        label: 'Vorsorgeuntersuchungen',
        sectionLabel: 'Leistungen',
        scrollToTargetId: 'servicesFirstSection',
        inSublist: true,
      },
      {
        label: 'Impfungen',
        sectionLabel: 'Leistungen',
        scrollToTargetId: 'servicesSecondSection',
        inSublist: true,
      },
      {
        label: 'Weitere Leistungen',
        sectionLabel: 'Leistungen',
        scrollToTargetId: 'servicesThirdSection',
        inSublist: true,
      },
      {
        label: 'Ultraschalldiagnostik',
        sectionLabel: 'Leistungen',
        scrollToTargetId: 'servicesThirdSection',
        inSublist: true,
      }
    ]
  },
  {
    label: 'Team',
    sectionLabel: 'Team',
    scrollToTargetId: 'ourTeamSection'
  },
]);

const FILE_ID = '1C388awvS3tm65PwOQ9ANZCc_yg1J_WA0bXZDfMD3N2A';
const GAPI_KEY = 'AIzaSyCo41_7-lKclozNNFsNp-5p_b36pDwi_7A';
const FILE_URL = `https://www.googleapis.com/drive/v3/files/${FILE_ID}/export?mimeType=text/plain&key=${GAPI_KEY}`;
function fetchFileContent() {
  fetch(FILE_URL)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok ' + response.statusText);
        }
        return response.text();
      })
      .then(markdownContent => {
        if (markdownContent !== '') {
          items.value.push({
            label: 'Stellenangebote',
            sectionLabel: 'Stellenangebote',
            scrollToTargetId: 'jobsSection',
          },);
        }
      })
      .catch(error => console.error('Error fetching file content:', error));
}

onBeforeMount(() => {
  fetchFileContent();
});

const router = useRouter();
const props = defineProps<{
  isIndex: boolean
}>();

onMounted(() => {
  if (props.isIndex) {
    window.addEventListener('scroll', scrolledFromTop);
    window.addEventListener('scroll', updateSectionInView);
  }
});
onUnmounted(() => {
  window.removeEventListener('scroll', scrolledFromTop);
  window.removeEventListener('scroll', updateSectionInView);
});

function scrolledFromTop() {
  const element = document.getElementById("navbar");
  if (element) {
    if (document.documentElement.scrollTop > 40 || document.body.scrollTop > 40) {
      element.classList.add("navbar-visible");
    } else {
      element.classList.remove("navbar-visible");
    }
  }
}

const selectedSection = ref('Startseite');
function updateSectionInView() {
  const sectionToIdMap = {
    landingSection: 'Startseite',
    timeTableSection: 'Sprechzeiten',
    servicesSection: 'Leistungen',
    ourTeamSection: 'Team',
    jobsSection: 'Stellenangebote',
    contactSection: 'Kontakt',
  };
  for (const [id, sectionLabel] of Object.entries(sectionToIdMap)) {
    const el = document.getElementById(id);
    if (el) {
      const rect = el.getBoundingClientRect();
      if (
          rect.bottom >= 0 &&
          ((rect.bottom + rect.top) / 2 <= (window.innerHeight || document.documentElement.clientHeight))
      ) {
        selectedSection.value = sectionLabel;
      }
    }
  }
}

async function navScrollToElement(id: string) {
  if (!props.isIndex) {
    await router.push('/');
    setTimeout(() => scrollToElement(id), 200);
  } else {
    scrollToElement(id);
  }
}
</script>

<style scoped>
.menubar {
  position: fixed;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0;
  transition: all ease-in 300ms;
}

.navbar-visible {
  background-color: white;
  box-shadow: 4px 4px 20px 1px rgba(155, 155, 155, 0.3);
}

:deep(.p-menubar) {
  justify-content: space-between;
}

:deep(.p-menubar .p-menubar-end) {
  margin-left: initial;
}

:deep(.p-menubar .p-submenu-list) {
  margin-top: 0.5rem;
  border-radius: 10px;
  width: auto;
}

.active {
  display: inline-block;
}

.active::after
{
  content: '';
  height: 2px;
  background: #FFC63D;
  border-radius: 5px;
  display: block;
}

.secondary {
  color: var(--secondary)!important;
}

.button {
  color: rgba(24, 40, 87, 0.61);
}

.button:hover {
  color: var(--green-header)!important;
  background-color: rgba(90, 196, 104, 0.05)!important;
}

.cta-button {
  background-color: var(--primary);
  border: 1px dashed #fff;
  border-radius: 15px;
  box-shadow: 0 0 0 4px var(--primary);
  font-weight: bold;
}
</style>
