<template>
  <div class="notification-item p-3 flex flex-column md:flex-row align-items-center gap-3" :class="{'blue-shadow': blueShadow}">
    <div class="flex-shrink-1 pt-1">
      <nuxt-img src="/images/icons/warning_icon_red.svg" alt="warning-icon"/>
    </div>
    <div class="font-jaldi text-lg">
      <div>
        <slot name="header"></slot>
      </div>
      <div style="white-space: pre-wrap;">
        <slot name="body"></slot>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps<{
  blueShadow?: boolean
}>();
</script>

<style scoped>
.notification-item {
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 4px 20px 1px rgba(155, 155, 155, 0.2);
}

.blue-shadow {
  box-shadow: 8px 15px 21px 1px rgba(11, 173, 42, 0.2);
}
</style>
