<template>
  <Dialog
    v-model:visible="visible"
    modal
    :style="{ width: '50vw' }"
    :breakpoints="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <template #header>
      <div
        class="font-baloo text-5xl md:text-3xl mt-6 font-bold line-height-1 color-secondary"
      >
        Mitteilung
      </div>
    </template>
    <div class="font-jaldi text-lg">
      <div v-for="(alert, i) in alerts" :key="i" style="white-space: pre-wrap">
        {{ alert }}
      </div>
    </div>
    <div class="flex gap-2 mt-5">
      <Button type="button" label="OK" @click="visible = false"></Button>
    </div>
  </Dialog>
</template>

<script setup lang="ts">
import { VACATION_FILE_ID } from "~~/constants/constants";
import { getGoogleDriveFileContent } from "~~/helpers/helperFunctions";

const visible = ref(false);
const alerts: Ref<Array<string>> = ref([]);
onBeforeMount(async () => {
  const resAlerts = await getGoogleDriveFileContent(VACATION_FILE_ID);
  if (resAlerts) {
    alerts.value = [resAlerts];
    visible.value = true;
  }
});
</script>

<style scoped></style>
