:root {
  /*--primary: #FFC63D;*/
  --primary: #EBC933;
  --secondary: #25283d;

  --pink: #F9DDE5;
  --dark-pink: #F3BDCC;

  /*--green-header: #79DC8C;*/
  /*--green-text: #0BAD2A;*/
  --green-header: #5AC468;
  --green-text: #5AC468;
  --light-green: #EBFFEF;
  --border-green: #B0EEB9;

  --blue: #1AA8FA;
  --blue-contact: #9CD2F1;
  --blue-icon: #54BBF6;
  --contact-blue: #CAE6F6;
  --blue-icon-bgd: #EDF7FC;
  --light-blue: #B9E4FD;

  --dark-grey: #4E4E4E;
  --light-grey: #B3B3B3;

  --sm-breakpoint: 576px;
  --md-breakpoint: 768px;
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--dark-grey);
  overflow-y: scroll;
  overflow-x: hidden;
}

.background-primary {
  background-color: var(--primary);
}

.background-green-header {
  background-color: var(--green-header);
}

.background-green-text {
  background-color: var(--green-text);
}

.color-green-text {
  color: var(--green-text);
}

.color-green-header {
  color: var(--green-header);
}

.background-pink {
  background-color: var(--pink);
}

.background-blue {
  background-color: var(--blue);
}

.background-contact-blue {
  background-color: var(--blue-contact);
}

.background-secondary {
  background-color: var(--secondary)!important;
}

.background-blue-icon {
  background-color: var(--blue-icon);
}

.background-blue-contact {
  background-color: var(--blue-contact);
}

.background-dark-pink {
  background-color: var(--dark-pink);
}

.background-light-blue {
  background-color: var(--light-blue);
}

.color-secondary {
  color: var(--secondary)!important;
}

.color-blue {
  color: var(--blue);
}

.color-blue-icon {
  color: var(--blue-icon);
}

.color-dark-grey {
  color: var(--dark-grey);
}

.full-page {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.half-page {
  min-height: 50vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.font-logo {
  font-family: 'La Belle Aurore', serif;
}

.font-life-savers {
  font-family: 'Life Savers', cursive;
}

.font-baloo {
  font-family: 'Baloo 2', serif;
}

.font-montserrat {
  font-family: 'Montserrat', serif;
}

.font-jaldi {
  font-family: 'Jaldi', serif !important;
}

.header-highlight {
  display: inline-block;
  line-height: 0;
  padding: 0 0.2em 0.5em 0.2em;
  border-radius: 4px;
}

.responsive-img {
  width: 100%;
  max-width: 50vw;
  height: auto;
}