<template>
  <div class="full-page flex flex-column main-bgd">
    <div>
      <NavBar :is-index="false" />
    </div>
    <div class="grid font-jaldi mt-8">
      <div
        class="col-12 md:col-8 flex flex-column justify-content-center mx-auto"
      >
        <div class="text-5xl mb-5">Datenschutzerklärung</div>
        <div class="grid">
          <div class="col-8 flex flex-column gap-5 mx-auto text-xl">
            <div class="font-bold">
              1 Information über die Erhebung personenbezogener Daten
            </div>
            <div>
              (1) Im Folgenden informieren wir über die Erhebung
              personenbezogener Daten bei Nutzung unserer Webseite.
              Personenbezogene Daten sind alle Daten, die auf Sie persönlich
              beziehbar sind, z. B. Name, Adresse, E-Mail-Adressen,
              Nutzerverhalten.
            </div>
            <div>
              (2) Verantwortlicher gem. Art. 4 Abs. 7
              EU-Datenschutz-Grundverordnung: Dr. medic (Universität Bukarest)
              Bahnhofstraße 2, 99084 Erfurt, Tel.: 0361/21921259, E-Mail:
              ma.stenzel(at)kinderarzterfurt.de (siehe unser Impressum).
            </div>
            <div>
              (3) Bei Ihrer Kontaktaufnahme mit uns per E-Mail oder über ein
              Kontaktformular bzw. den Online-Terminkalender werden die von
              Ihnen mitgeteilten Daten, wie Ihre E-Mail-Adresse, Ihr Name, Ihre
              Telefonnummer und ggf. weitere Angaben (Angaben die Sie ggf.
              selber zum Gesundheitszustand, Krankheitsverlauf oder der
              Medikation machen) von uns gespeichert, um Ihre Fragen zu
              beantworten bzw. Termine zu koordinieren. Die in diesem
              Zusammenhang anfallenden Daten löschen wir, nachdem die
              Speicherung nicht mehr erforderlich ist, oder schränken die
              Verarbeitung ein, falls gesetzliche Aufbewahrungspflichten
              bestehen.
            </div>
            <div class="font-bold">2 Ihre Rechte</div>
            <div>
              <div>
                (1) Sie haben gegenüber uns folgende Rechte hinsichtlich der Sie
                betreffenden personenbezogenen Daten:
              </div>
              <ul>
                <li>Recht auf Auskunft,</li>
                <li>Recht auf Berichtigung oder Löschung,</li>
                <li>Recht auf Einschränkung der Verarbeitung,</li>
                <li>Recht auf Widerspruch gegen die Verarbeitung,</li>
                <li>Recht auf Datenübertragbarkeit.</li>
              </ul>
            </div>
            <div>
              (2) Sie haben zudem das Recht, sich bei einer
              Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer
              personenbezogenen Daten durch uns zu beschweren.
            </div>
            <div class="font-bold">
              3 Erhebung personenbezogener Daten bei Besuch unserer Website
            </div>
            <div>
              <div>
                (1) Bei der bloß informatorischen Nutzung der Webseite, also
                wenn Sie sich nicht registrierenoder uns anderweitig
                Informationen übermitteln, erheben wir nur die personenbezogenen
                Daten, die Ihr Browser an unseren Server übermittelt. Wenn Sie
                unsere Webseite betrachten möchten, erheben wir die folgenden
                Daten, die für uns technisch erforderlich sind, um Ihnen unsere
                Webseite anzuzeigen und die Stabilität und Sicherheit zu
                gewährleisten (Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. f
                DS-GVO):
              </div>
              <ul>
                <li>IP-Adresse</li>
                <li>Datum und Uhrzeit der Anfrage</li>
                <li>Zeitzonendifferenz zur Greenwich Mean Time (GMT)</li>
                <li>Inhalt der Anforderung (konkrete Seite)</li>
                <li>Zugriffsstatus/HTTP-Statuscode</li>
                <li>Jeweils übertragene Datenmenge</li>
                <li>Website, von der die Anforderung kommt</li>
                <li>Browser</li>
                <li>Betriebssystem und dessen Oberfläche</li>
                <li>Sprache und Version der Browsersoftware.</li>
              </ul>
            </div>
            <div>
              (2) Zusätzlich zu den zuvor genannten Daten werden bei Ihrer
              Nutzung unserer Website Cookies auf Ihrem Rechner gespeichert. Bei
              Cookies handelt es sich um kleine Textdateien, die auf Ihrer
              Festplatte dem von Ihnen verwendeten Browser zugeordnet
              gespeichert werden und durch welche der Stelle, die den Cookie
              setzt (hier durch uns), bestimmte Informationen zufließen. Cookies
              können keine Programme ausführen oder Viren auf Ihren Computer
              übertragen. Sie dienen dazu, das Internetangebot insgesamt
              nutzerfreundlicher und effektiver zu machen.
            </div>
            <div>
              <div>(3) Einsatz von Cookies:</div>
              <div>
                a) Diese Website nutzt folgende Arten von Cookies, deren Umfang
                und Funktionsweise im Folgenden erläutert werden:
              </div>
              <ul>
                <li>Transiente Cookies (dazu b)</li>
                <li>Persistente Cookies (dazu c).</li>
              </ul>
            </div>
            <div>
              b) Transiente Cookies werden automatisiert gelöscht, wenn Sie den
              Browser schließen. Dazu zählen insbesondere die Session-Cookies.
              Diese speichern eine sogenannte Session-ID, mit welcher sich
              verschiedene Anfragen Ihres Browsers der gemeinsamen Sitzung
              zuordnen lassen. Dadurch kann Ihr Rechner wiedererkannt werden,
              wenn Sie auf unsere Website zurückkehren. Die Session-Cookies
              werden gelöscht, wenn Sie sich ausloggen oder den Browser
              schließen.
            </div>
            <div>
              c) Persistente Cookies werden automatisiert nach einer
              vorgegebenen Dauer gelöscht, die sich je nach Cookie unterscheiden
              kann. Sie können die Cookies in den Sicherheitseinstellungen Ihres
              Browsers jederzeit löschen.
            </div>
            <div>
              d) Sie können Ihre Browser-Einstellung entsprechend Ihren Wünschen
              konfigurieren und z.B. die Annahme von Third-Party-Cookies oder
              allen Cookies ablehnen. Wir weisen Sie darauf hin, dass Sie
              eventuell nicht alle Funktionen dieser Website nutzen können.
            </div>
            <div>
              f) Die genutzten Flash-Cookies werden nicht durch Ihren Browser
              erfasst, sondern durch Ihr Flash-Plug-in. Weiterhin nutzen wir
              HTML5 storage objects, die auf Ihrem Endgerät abgelegt werden.
              Diese Objekte speichern die erforderlichen Daten unabhängig von
              Ihrem verwendeten Browser und haben kein automatisches
              Ablaufdatum. Wenn Sie keine Verarbeitung der Flash-Cookies
              wünschen, müssen Sie ein entsprechendes Add-On installieren, z. B.
              „Better Privacy“ für Mozilla Firefox
              (https://addons.mozilla.org/de/firefox/addon/betterprivacy/) oder
              das Adobe-Flash-KillerCookie für Google Chrome. Die Nutzung von
              HTML5 storage objects können Sie verhindern, indem Sie in Ihrem
              Browser den privaten Modus einsetzen. Zudem empfehlen wir,
              regelmäßig Ihre Cookies und den Browser-Verlauf manuell zu
              löschen.
            </div>
            <div class="font-bold">Social Media</div>
            <div>1. Einsatz von Plug-ins</div>
            <div>
              (1) Wir setzen derzeit folgende Plug-ins ein: Google Maps. Wir
              nutzen dabei die sog. ZweiKlick-Lösung. Das heißt, wenn Sie unsere
              Seite besuchen, werden zunächst grundsätzlich keine
              personenbezogenen Daten an die Anbieter der Plug-ins
              weitergegeben. Den Anbieter des Plug-ins erkennen Sie über die
              Markierung auf dem Kasten über seinen Anfangsbuchstaben oder das
              Logo. Wir eröffnen Ihnen die Möglichkeit, über den Button direkt
              mit dem Anbieter des Plug-ins zu kommunizieren. Nur wenn Sie auf
              das markierte Feld klicken und es dadurch aktivieren, erhält der
              Plug-in-Anbieter die Information, dass Sie die entsprechende
              Website unseres Online-Angebots aufgerufen haben. Zudem werden die
              unter § 3 dieser Erklärung genannten Daten übermittelt. Durch die
              Aktivierung des Plug-ins werden also personenbezogene Daten von
              Ihnen an den jeweiligen Plug-in-Anbieter übermittelt und dort (bei
              US-amerikanischen Anbietern in den USA) gespeichert. Da der
              Plug-in-Anbieter die Datenerhebung insbesondere über Cookies
              vornimmt, empfehlen wir Ihnen, vor dem Klick auf den ausgegrauten
              Kasten über die Sicherheitseinstellungen Ihres Browsers alle
              Cookies zu löschen.
            </div>
            <div>
              (2) Wir haben weder Einfluss auf die erhobenen Daten und
              Datenverarbeitungsvorgänge, noch sind uns der volle Umfang der
              Datenerhebung, die Zwecke der Verarbeitung, die Speicherfristen
              bekannt. Auch zur Löschung der erhobenen Daten durch den
              Plug-in-Anbieter liegen uns keine Informationen vor.
            </div>
            <div>
              (3) Der Plug-in-Anbieter speichert die über Sie erhobenen Daten
              als Nutzungsprofile und nutzt diese für Zwecke der Werbung,
              Marktforschung und/oder bedarfsgerechten Gestaltung seiner
              Website. Eine solche Auswertung erfolgt insbesondere (auch für
              nicht eingeloggte Nutzer) zur Darstellung von bedarfsgerechter
              Werbung und um andere Nutzer des sozialen Netzwerks über Ihre
              Aktivitäten auf unserer Website zu informieren. Ihnen steht ein
              Widerspruchsrecht gegen die Bildung dieser Nutzerprofile zu, wobei
              Sie sich zur Ausübung dessen an den jeweiligen Plug-in-Anbieter
              wenden müssen. Über die Plug-ins bieten wir Ihnen die Möglichkeit,
              mit den sozialen Netzwerken und anderen Nutzern zu interagieren,
              so dass wir unser Angebot verbessern und für Sie als Nutzer
              interessanter ausgestalten können. Rechtsgrundlage für die Nutzung
              der Plug-ins ist Art. 6 Abs. 1 S. 1 lit. f DS-GVO.
            </div>
            <div>
              (4) Die Datenweitergabe erfolgt unabhängig davon, ob Sie ein Konto
              bei dem Plug-inAnbieter besitzen und dort eingeloggt sind. Wenn
              Sie bei dem Plug-in-Anbieter eingeloggt sind, werden Ihre bei uns
              erhobenen Daten direkt Ihrem beim Plug-in-Anbieter bestehenden
              Konto zugeordnet. Wenn Sie den aktivierten Button betätigen und z.
              B. die Seite verlinken, speichert der Plug-in-Anbieter auch diese
              Information in Ihrem Nutzerkonto und teilt sie Ihren Kontakten
              öffentlich mit. Wir empfehlen Ihnen, sich nach Nutzung eines
              sozialen Netzwerks regelmäßig auszuloggen, insbesondere jedoch vor
              Aktivierung des Buttons, da Sie so eine Zuordnung zu Ihrem Profil
              bei dem Plug-in-Anbieter vermeiden können.
            </div>
            <div>
              (5) Weitere Informationen zu Zweck und Umfang der Datenerhebung
              und ihrer Verarbeitung durch den Plug-in-Anbieter erhalten Sie in
              den im Folgenden mitgeteilten Datenschutzerklärungen dieser
              Anbieter. Dort erhalten Sie auch weitere Informationen zu Ihren
              diesbezüglichen Rechten und Einstellungsmöglichkeiten zum Schutze
              Ihrer Privatsphäre.
            </div>
            <div>
              (6) Adressen der jeweiligen Plug-in-Anbieter und URL mit deren
              Datenschutzhinweisen: Google Inc., 1600 Amphitheater Parkway,
              Mountainview, California 94043, USA;
              https://www.google.com/policies/privacy/partners/?hl=de. Google
              hat sich dem EU-USPrivacy-Shield unterworfen,
              https://www.privacyshield.gov/EU-US-Framework.
            </div>
            <div>2. Einbindung von Google Maps</div>
            <div>
              (1) Auf dieser Webseite nutzen wir das Angebot von Google Maps.
              Dadurch können wir Ihnen interaktive Karten direkt in der Website
              anzeigen und ermöglichen Ihnen die komfortable Nutzung der
              Karten-Funktion.
            </div>
            <div>
              (2) Durch den Besuch auf der Webseite erhält Google die
              Information, dass Sie die entsprechende Unterseite unserer Website
              aufgerufen haben. Zudem werden die unter § 3 dieser Erklärung
              genannten Daten übermittelt. Dies erfolgt unabhängig davon, ob
              Google ein Nutzerkonto bereitstellt, über das Sie eingeloggt sind,
              oder ob kein Nutzerkonto besteht. Wenn Sie bei Google eingeloggt
              sind, werden Ihre Daten direkt Ihrem Konto zugeordnet. Wenn Sie
              die Zuordnung mit Ihrem Profil bei Google nicht wünschen, müssen
              Sie sich vor Aktivierung des Buttons ausloggen. Google speichert
              Ihre Daten als Nutzungsprofile und nutzt sie für Zwecke der
              Werbung, Marktforschung und/oder bedarfsgerechten Gestaltung
              seiner Website. Eine solche Auswertung erfolgt insbesondere
              (selbst für nicht eingeloggte Nutzer) zur Erbringung von
              bedarfsgerechter Werbung und um andere Nutzer des sozialen
              Netzwerks über Ihre Aktivitäten auf unserer Website zu
              informieren. Ihnen steht ein Widerspruchsrecht zu gegen die
              Bildung dieser Nutzerprofile, wobei Sie sich zur Ausübung dessen
              an Google richten müssen.
            </div>
            <div>
              (3) Weitere Informationen zu Zweck und Umfang der Datenerhebung
              und ihrer Verarbeitung durch den Plug-in-Anbieter erhalten Sie in
              den Datenschutzerklärungen des Anbieters. Dort erhalten Sie auch
              weitere Informationen zu Ihren diesbezüglichen Rechten und
              Einstellungsmöglichkeiten zum Schutze Ihrer Privatsphäre:
              http://www.google.de/intl/de/policies/privacy. Google verarbeitet
              Ihre personenbezogenen Daten auch in den USA und hat sich dem
              EU-US Privacy Shield unterworfen,
              https://www.privacyshield.gov/EU-US-Framework.
            </div>
            <div>Copyright © Praxis Dr. M.-Alexandra Stenzel</div>
          </div>
        </div>
      </div>
    </div>
    <FooterSection />
  </div>
</template>

<style scoped>
.main-bgd {
  background-color: #f1fcee;
}
</style>
<script setup lang="ts">
import FooterSection from "~/components/page-sections/FooterSection.vue";
</script>
