<template>
  <div class="full-page flex flex-column main-bgd">
    <div>
      <NavBar :is-index="false" />
    </div>
    <div class="grid font-jaldi mt-8 text-black-alpha-90">
      <div
        class="col-12 md:col-8 flex flex-column justify-content-center mx-auto"
      >
        <div class="text-5xl mb-5">Impressum</div>
        <div class="grid">
          <div class="col-8 flex flex-column gap-5 mx-auto text-xl">
            <div class="font-bold">Angaben gemäß § 5 TMG</div>
            <div>
              Maria-Alexandra Stenzel <br />
              Kinderarztpraxis Maria-Alexandra Stenzel <br />
              Bahnhofstraße 2 <br />
              99084 Erfurt <br />
            </div>
            <div class="font-bold">Kontakt</div>
            <div>
              Telefon: 0361 219 212 59 <br />
              Telefax: 0361 219 212 60 <br />
              E-Mail: ma.stenzel@kinderarzterfurt.de <br />
            </div>
            <div class="font-bold">
              Berufsbezeichnung und berufsrechtliche Regelungen
            </div>
            <div>
              Berufsbezeichnung: Arzt <br />
              Zuständige Kammer: Landesärztekammer Thüringen <br />
              Verliehen in: Deutschland <br />
              Es gelten folgende berufsrechtliche Regelungen: Auf der Webseite
              der KV Thüringen finden Sie die geltenden berufsrechtlichen
              Regelungen. <br />
              Regelungen einsehbar unter: https://www.kv-thueringen.de/ <br />
            </div>
            <div>
              Berufsordnung der Landesärztekammer Thüringen <br />
              Heilberufegesetz des Landes Thüringen <br />
              Die Regelungen finden sich im Gesetzblatt des Landes Thüringen.
            </div>
            <div class="font-bold">
              Angaben zur Berufshaftpflichtversicherung
            </div>
            <div>
              <div class="font-bold">Name und Sitz des Versicherers:</div>
              <div>Generali Deutschland Versicherung AG</div>
            </div>
            <div>
              KD München/Nürnberg <br />
              90313 Nürnberg, Deutschland <br />
            </div>
            <div>
              <div class="font-bold">Geltungsraum der Versicherung:</div>
              <div>Deutschland</div>
            </div>
            <div>
              <div class="font-bold">Zuständige Aufsichtsbehörde:</div>
              <div>
                Kassenärztliche Vereinigung Thüringen <br />
                Zum Hospitalgraben 8 <br />
                99425 Weimar <br />
                http://www.kv-thueringen.de/ <br />
              </div>
            </div>
            <div class="font-bold">Haftung für Inhalte</div>
            <div>
              Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene
              Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
              verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter
              jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde
              Informationen zu überwachen oder nach Umständen zu forschen, die
              auf eine rechtswidrige Tätigkeit hinweisen.
            </div>
            <div>
              Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
              Informationen nach den allgemeinen Gesetzen bleiben hiervon
              unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem
              Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich.
              Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir
              diese Inhalte umgehend entfernen.
            </div>
            <div class="font-bold">Haftung für Links</div>
            <div>
              Unser Angebot enthält Links zu externen Websites Dritter, auf
              deren Inhalte wir keinen Einfluss haben. Deshalb können wir für
              diese fremden Inhalte auch keine Gewähr übernehmen. Für die
              Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter
              oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten
              wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße
              überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der
              Verlinkung nicht erkennbar.
            </div>
            <div>
              Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist
              jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht
              zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir
              derartige Links umgehend entfernen.
            </div>
            <div class="font-bold">Urheberrecht</div>
            <div>
              Die durch die Seitenbetreiber erstellten Inhalte und Werke auf
              diesen Seiten unterliegen dem deutschen Urheberrecht. Die
              Vervielfältigung, Bearbeitung, Verbreitung und jede Art der
              Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der
              schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
              Downloads und Kopien dieser Seite sind nur für den privaten, nicht
              kommerziellen Gebrauch gestattet.
            </div>
            <div>
              Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt
              wurden, werden die Urheberrechte Dritter beachtet. Insbesondere
              werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie
              trotzdem auf eine Urheberrechtsverletzung aufmerksam werden,
              bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
              Rechtsverletzungen werden wir derartige Inhalte umgehend
              entfernen.
            </div>
            <div>Quelle: https://www.e-recht24.de</div>
          </div>
        </div>
      </div>
    </div>
    <FooterSection />
  </div>
</template>

<script setup lang="ts">
import FooterSection from "~/components/page-sections/FooterSection.vue";
</script>

<style scoped>
.main-bgd {
  background-color: #f1fcee;
}
</style>
