<template>
  <NotificationDialog />
  <LandingSection id="landingSection"/>
  <NewsSection />
  <TimeTableSection id="timeTableSection"/>
  <ServicesSection id="servicesSection"/>
  <OurTeamSection id="ourTeamSection"/>
  <JobsSection id="jobsSection"/>
  <ContactSection id="contactSection"/>
  <FooterSection />
</template>

<script setup lang="ts">
import LandingSection from "~/components/page-sections/LandingSection.vue";
import NewsSection from "~/components/page-sections/NewsSection.vue";
import TimeTableSection from "~/components/page-sections/TimeTableSection.vue";
import ServicesSection from "~/components/page-sections/ServicesSection.vue";
import OurTeamSection from "~/components/page-sections/OurTeamSection.vue";
import ContactSection from "~/components/page-sections/ContactSection.vue";
import FooterSection from "~/components/page-sections/FooterSection.vue";
import JobsSection from "~/components/page-sections/JobsSection.vue";
import NotificationDialog from "~~/components/NotificationDialog.vue";

useSeoMeta({
  title: 'Home'
});
</script>
